{% extends 'base.html' %}

{% block content %}


    <div id="adicionar-pedido" class="card-pedido">
        <h2> Cadastrar Novo Pedido </h2>
        <form method="post">
             {{ form.csrf_token }}
             {{ form.hidden_tag() }}
       
            <p>
                <label>Nome do cliente:</label><br>
                {{ form.nome_cliente(placeholder="nome do cliente") }}
            </p>
            <p>
                <label>produto:</label><br>
                {{ form.nome_produto(placeholder="produto") }}
            </p>
            <p>
                <label>preço unitario:</label><br>
                <input type="number" placeholder="Ex: 70.00" step="0.01" required>
            </p>  

            <p>
                <label>data do pedido:</label><br>
                <input type="date" required>
            </p>

            <p>
                <label>quantidade:</label><br>
                <input type="number" placeholder="Ex: 2" required>
            </p>

            <p>
                <label>valor total:</label><br>
                <input type="number" placeholder="Ex: 190.00" step="0.01" required>
            </p>
            <button type="submit">Salvar Pedido</button>
        </form>
    </div>
    
{% endblock %}