<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>workflow cadastro</title>
</head>
<body>
 <div class="geral">

        <div class="login-card">
            <h2>Workflow-Cadastro</h2>

            <form id="cadastro-form">
                
                <div class=" input-nome">
                    <label for="nome">usuario:</label><br>
                    <input type="text" name="nome" placeholder="Nome completo" required>
                </div>

                
                <div class=" input-box">
                    <label for="email">E-mail:</label><br>
                    <input type="email" name="email" placeholder="E-mail" required>
                </div>


                <div class=" input-box ">
                    <label for="password">Senha:</label><br>
                    <span class="icone"> <i class="fa-solid fa-lock"></i> </span>
                    <input type="password" name="password" placeholder="senha" required>
                </div>
                
                    <button type="submit" class="bnt"> cadastrar</button> 

            </form>

        </div>
     </div>
</body>
</html>