{% extends 'base.html' %}

{% block content %}

    <div id="cadastro-produto" class="card-produto">
        <h2>Cadastrar Novo Produto</h2>
        <form>
            <p>
                <label>Nome do Produto:</label><br>
                <input type="text" placeholder="Ex: pizza" required>
            </p>
            <p>
                <label>Preço R$:</label><br>
                <input type="number" placeholder="Ex: 70.00" step="0.01"required>
            </p>
            <p>
                <label>Quantidade em Estoque:</label><br>
                <input type="number" placeholder="Ex: 100" required>
            </p>
            <button type="submit">Salvar Produto</button>
        </form>
    </div>
    
{% endblock %}