{% extends 'base.html' %}

{% block content %}
    <div  class="Dashboard">

        <h1>Workflow Dashboard</h1>
        <p>sistema de gestao geral</p>
           
            <h2>Clientes</h2>

            <div class="clientes">
                
                {% for clientes in lista_Clientes['clientes'] %}
                
                <div class="cliente">
                 <img 
                    src="{{ url_for('static', filename='images/' ~ clientes.foto_perfil) }}" 
                    width="100px" height="100px" 
                    style="border-radius: 50px;">
                  
                  <p>{{ clientes.nome }}</p>
                </div>
                {% else %}
                <h3>nenhum cliente cadastrado no momento...</h3>
                {% endfor %}

            </div>
            
            <hr>
   </div>

{% endblock %}