{% extends 'base.html' %}

{% block content %}
    <div  class="Dashboard">

        <h1>Workflow Dashboard</h1>
        <p>sistema de gestao geral</p>
           
            <h2>Clientes</h2>
            {% for clientes in lista_Clientes['clientes'] %}
            
            <p>{{ clientes.nome }}</p>
            
            {% else %}
            <h3>nenhum cliente cadastrado no momento...</h3>
            {% endfor %}


        <img src="{{ url_for('static', filename='images/' ~ escolha_aleatória) }}" width="200px" height="200px">
       <hr>
   </div>

{% endblock %}