
body{
    margin: 2px;
    padding: 2px;
    background: linear-gradient(135deg, #4facfe, #00f2fe);    
}


.geral{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.login-card{  
    height: 300px;
    background: linear-gradient(135deg, #4facfe, #0c1213); 
    width: 300px;
    border-radius: 20px;
    padding:30px;
    justify-content: center;
    align-items: center;
    
}


.Dashboard {
 align-self: flex-start;
 width: 600px;
 height: 600px;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
}


.Lista_clientes {
    border: 2px solid black;
    width: 100%;
    
}


.clientes {
     display: flex;
     flex-direction: row;
     padding: 5px;
     flex-wrap: wrap;
}


.cliente {
 border: 2px solid black;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 margin: 5px;
 padding: 5px;
}


h2{
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}


.input-nome{
    display: flex;
    background: linear-gradient(135deg, #4facfe, #0c1213); 
    border-radius: 5px;
    text-align: center;
    margin:0;
    margin-bottom: 20px;
    padding: 8px;
}


.input-box{
    display: flex;
    background: linear-gradient(135deg, #4facfe, #0c1213); 
    border-radius: 5px;
    text-align: center;
    margin:0;
    margin-bottom: 20px;
    padding: 10px;
}


.icone{
    margin-right: 5px;
}


.opcoes{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}


input-box input{
    background: linear-gradient(to bottom, #000000, #ffffff);
    padding: 3px 10px;
    
}


input-box input::placeholder{
    color: #000000;
}

.lembrar-opcoes{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.bnt{
    width: 100%;
    padding: 10px;
    background: linear-gradient(135deg, #4facfe, #0c1213);
    border-radius: 10px;

    
}


.views {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 80%;
}


.card-cliente {
    align-self: flex-start;
    display: flex;
    background: linear-gradient(135deg, #4facfe, #0c1213);
    width: 500px;
    height: 500px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.card-produto {
    align-self: flex-start;
    display: flex;
    background: linear-gradient(135deg, #4facfe, #0c1213);
    width: 500px;
    height: 500px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.card-pedido{
    align-self: flex-start;
    display: flex;
    background: linear-gradient(135deg, #4facfe, #0c1213);
    width: 500px;
    height: 500px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

nav a { 
        margin-right: 15px; 
        text-decoration: none; 
        color: black; 
}
        
        /* Classe que destaca a página atual */
.active { 
        font-weight: bold; 
        color: blue;
}


.navegação nav {
        display: flex;
        flex-direction: column;
        border: 2px solid blue;
        height: 780px;
        width: 100%;
        margin: 5px;
        padding: 2px;
        position: static;
}


.navegação a {
        width: 100%;
        height: 5%;
        border: 2px solid blue;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        margin: 2px;
        padding: auto;
        border-radius: 5px;
}


.navegação a:hover {
        background-color: rgb(177, 177, 226);
}


.active {
        background-color: rgb(177, 177, 226);
}


section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
}

footer {
    text-align: center;
    background-color: rgb(177, 177, 226);
    height: 90px;
    padding: 5px;
}